<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
    
<form action="/categories/add" method="POST">
    <div class="form-group">
      <label for="name">Category</label>
      <input type="text" class="form-control" name="name">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

</body>
</html>