<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Project</title>
</head>
<body>
    <nav>
        <a href="/categories">Category</a>
        <a href="/brands">Brand</a>
    </nav>
    <h1><%= data.name %></h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Brand Name</th>
                <th>Product Name</th>
                <th>Image</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <% data.Brands.forEach(element => { %>

                <tr>
                    <td><%= element.id %></td>
                    <td><a href="/brands/<%= element.id %>"><%= element.name %></a></td>
                </tr>

            <% }) %>
        </tbody>
    </table>
</body>
</html>