<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
    
<form action="/products/add" method="POST">
    <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" name="description">
    </div>
    <div class="form-group">
        <label for="stock">Stock/label>
        <input type="text" class="form-control" name="stock">
      </div>
      <div class="form-group">
        <label for="price">price</label>
        <input type="text" class="form-control" name="price">
      </div>
      <div class="form-group">
        <label for="brandId">Brand</label>
        <input type="text" class="form-control" name="brandId">
      </div>
      <div class="form-group">
        <label for="categoryId">Category</label>
        <input type="text" class="form-control" name="categoryId">
      </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

</body>
</html>